.popup {
    visibility: hidden;
    margin: 0 auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    transition: visibility 0.5s, opacity 0.3s, background-color .6s linear;
    opacity: 0;
}

